<div class="card">
    <h2 class="card-title">{{name}}</h2>
    <div class="card-body">
        <div class="content-container">
            <p class="card-capital">Capital: {{capital}}</p>
            <p class="card-capital">Region: {{region}}</p>
            <p class="card-population">Population: {{population}}</p>
            <ul class="card-language-list"> <span class="language">Language:</span>
                <div class="card-language-list--items">
                {{#each languages}}
                    <div><li class="card-language-list--item">{{name}}</li>
                {{/each}}
                </div>
            </ul>
        </div>
        <div class="picture-container">
            <div class="card-picture">
                
                <img src="{{flag}}" alt="{{name}}" width="300" height="">
            </div>
        </div>
    </div>
</div>